@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  min-height: 100vh;
}

::selection {
  background: #e5484d;
  color: white;
}
